.Home {
    background-color: white;
}

.Home .intro {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 300px;
    padding-top: 15rem;
    padding-bottom: 15rem;
}

.Home .intro-logo {
    display: flex;
    justify-content: center;
    gap: 1rem;
    margin: 2rem;
}

.Home .intro-aside {
    display: flex;
    font-size: 2rem;
    color: black;
}

.Home .intro-title {
    font-weight: bolder;
    font-size: 2.25rem;
}

.Home .intro-links{
    display: flex;
    gap: 1rem;
    margin-top: 0.5rem;
}

.Home .intro-links a{
    font-size: 20px;
    text-decoration: none;
    color: black;
    border: 1px solid grey;
    padding: 0.5rem;
    border-radius: 3px;
    transition: all 0.2s ease-in;
}

.Home .intro-links a:hover {
    background-color: black;
    color: white;
}

.Home .intro-features {
    list-style: none;
    margin: 0;
    padding: 0;
    font-size: 1.5rem;
}

.Home .features {
    background-color: black;
    color: white;
    padding: 0.5rem;
    text-align: center;
}

.Home .features ul {
    display: flex;
    justify-content: center;
    list-style: none;
    padding: 0;
}

.Home .features li {
    display: flex;
    flex-direction: column;
    line-height: 2rem;
    text-align: center;
    margin: 1rem;
}

.Home .quickdemo {
    border: none;
    width: 90%;
    margin: 0 auto;
}



.Home footer {
    background-color: rgb(179, 179, 179);
    background-color: black;
    color: white;
    text-align: center;
    font-weight: 500Z;
}

@media screen and (max-width: 800px){
    .Home .intro {
        display: flex;
        flex-direction: column;
        height: 300px;
        padding-top: 15rem;
        padding-bottom: 15rem;
    }

    .Home .intro-aside {
        display: flex;
        flex-direction: column;
        font-size: 2rem;
        color: black;
        text-align: center;
    }

    .Home .intro-title {
        width: 100%;
        text-align: center;
    }

    .Home .intro-features {
        margin: 0 auto;
    }

    .Home .intro-getstarted{
        margin: 0 auto;
    }

    .Home .intro-links{
        display: flex;
        justify-content: center;
        gap: 1rem;
        margin-top: 0.5rem;
    }

    .Home .features ul{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .Home .features li{
        width: 100%;
        margin: 0 auto;
        margin-bottom: 1rem;
    }

    .Home .features li img{
        width: 100%;
        margin: 0 auto;
        margin-bottom: 1rem;
    }

}